<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<% include partials/page/header.ejs %>
   <body>
  	<div class="container">
   	<% include partials/page/nav.ejs %>
		<% include partials/page/jumbotron.ejs %>
	   	<% include partials/page/contactform.ejs %>	
		<% include partials/page/footer.ejs %>
		<% include partials/page/jsdefaults.ejs %>	
	</div> 
  </body>
</html>
