<!DOCTYPE html>
<html lang="en">
<head><% include partials/page/head.ejs %></head>
<% include partials/page/header.ejs %>

   <body>
   	<% include partials/page/nav.ejs %>
  	<div class="container">
     <!-- <p>Welcome to <%= title %></p> -->
 		 <% include partials/page/index.ejs %>
	</div> 


<% include partials/page/footer.ejs %>
<% include partials/page/jsdefaults.ejs %>
  </body>
</html>
