<div class="jumbotron">
		  <h1>Contact Us</h1>
     		<p><h2><%= title %> Wants to Hear From You!</h2></p>
		 <!--  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
		</div>